*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(5, 11, 15);
  color: rgb(229, 198, 198);
}

body {
  width: 800px;
  height: 100vh;
  background-color: rgb(5, 11, 15);
  margin: 0px auto;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 10px ;
  padding: 5px ;
  text-align: center;
  font-style: italic;
}